{% extends 'base.html' %}

{% block title %}
FAQ
{% endblock %}

{% block content %}
<div class="jumbotron">
  <h1 class="display-4">Information</h1>
  <p class="lead">Задачи, предлагаемые в большинстве общеобразовательных школ, на данный момент являются скучными и неинтересными.

   У ученика нет совершенно никакой мотивации решать домашнее/классное задание: задача может быть очень легкая или вообще не вызывать интерес, потому что ученику не нравится тот или иной предмет. За каждый решенный набор задач у игрока повышается опыт, который влияет на уровень задач (Пользователь не будет скучать из-за простых задач), а также место в рейтинге. Таким образом, игроки (ученики) соревнуются за выскую позицию в рейтинге.
	</p>
  <hr class="my-4">
  <p>Изначально веб-сервис имеет ограниченное количество задач, но учителя и ученики создают, которые после модерации успешно попадают в наборы.</p>
   <hr class="my-4">
   <p>Для того, чтобы использовать весь функционал сайта, просим вас зарегистрироваться на этом сайте, либо нажав кнопку "sign up" на шапке, либо нажать кнопку "Регистрация"</p>
   <a class="btn"y href="/registration">Регистрация</a>

</div>
{% endblock %}