
{% extends 'base.html' %}

{% block title %}SubjectWars{% endblock %}


{% block content %}
<div class="jumbotron">
  <h1 class="display-4">SubjectWars</h1>
  <p class="lead">Наш веб-сервис - это платформа, где каждый ученик может выбрать свои любимые предметы, а также указать свои проблемные места в учебе (неуспеваемость по какому-либо предмету). Платформа предложит наборы задач, основываясь на предпочтениях пользователя. После этого ученик выберет для себя самые подоходящие задачи.</p>
  <hr class="my-4">
  <p>тут можно что нибдь вставить... я просто ничего не придумал</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Узнать больше</a>
</div>
{% endblock %}