{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="col btn-return" align="left" style="margin-top: 20px;">
    <a href="/tasks/generating" class="btn btn-primary">Вернуться к выбору предмета</a>
</div>
<div class="container" align="center" style="width: max-content; margin-top: -63px;">
    {% for el in array %}
    <div class="col">
        <div class="card text-center with-s">
            <div class="card-body">
                <h5 class="card-title">{{el.title}}</h5>
                <h6 class="card-title">Уровень сложности {{el.level}}</h6>
                <p class="card-text">{{el.body}}</p>
                <a href="/tasks/{{el.id}}" class="btn btn-primary btn-tab">Choose!</a>
            </div>
        </div>
    </div>
    {% endfor %}
    {% if len(array) == 0 %}
    <h1 style="margin-top: 16px;">Задачи по данному предмету отсутствуют</h1>
    {% endif %}
</div>

{% endblock %}