{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="main-section" id="#Auth">
    {% if task.day_task == True %}
    <h2 align="center">Задача дня</h2>
    {% endif %}
    <div class="modal-dialog text-center">
        <div id="formContainer" class="modal-content">
            <h3 class="form-group">
                {{ task.title }}
            </h3>
            <h4 class="form-group">
                {{ task.body }}
            </h4>
            <form class="col-12" style="margin-top: 10px;" action="" method="post">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.answer(placeholder="Ответ", class="form-control") }}
                </div>
                {{ form.submit(class="btn btn-success") }}
            </form>
        </div>
    </div>
</div>
{% endblock %}