{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="container" align="center">
    <div class="col">
        <div class="card text-center with-s">
            <h5 class="card-title">
                Выбери свой любимый предмет!
            </h5>
            <div class="card-body">
                <form method="post" action="">
                    {{ form.hidden_tag() }}
                    {{ form.select(class="form-control") }}
                    {{ form.submit(class="btn btn-primary btn-tab") }}

                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}